@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Sixtyfour+Convergence&display=swap");

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo2-Regular";
  src: url("../fonts/Baloo2-Regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Baloo2-Bold";
  src: url("../fonts/Baloo2-Bold.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
