/* 스타일 */

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #222328;
  list-style: none;
  text-decoration: none;
}

/* 공통 스타일 */
.blind {
  font-size: 0;
  line-height: 0;
}

#wrap {
  width: 1200px;
  /* background: seashell; */
  margin: auto;
}

header {
  position: relative;
  display: flex;
  justify-content: space-between;
  /* margin-left: auto; 로 써도 됨 */
  align-items: center;
  height: 100px;
}

#gnb::before {
  content: "";
  position: absolute;
  display: none;
  top: 100px;
  right: 0;
  width: 1200px;
  height: 150px;
  background: rgb(255, 255, 255);
}

#gnb:hover::before {
  display: block;
}

#gnb {
  display: flex;
  gap: 40px;
  position: absolute;
  top: 0;
  right: 0;
}

#gnb dd {
  display: none;
  padding: 5px 20px;
  background: #fff;
}

#gnb dl {
  position: relative;
  z-index: 10;
  min-width: 110px;
}

#gnb dl a:hover {
  color: red;
}

#gnb dl:hover dd {
  display: block;
}

/* #gnb dl:hover dd {
  display: block;
} gnb의 dl 에 마우스를 댔을때 그 아래의 dd를 보여줘*/

/* #gnb:hover dl dd {
  display: block;
} gnb에 마우스를 댔을때 그 아래의 모든 dl과 dd를 보여줘*/

#gnb dt {
  padding: 0 20px;
}

#gnb dl:hover dt a {
  color: red;
}

#gnb dl:hover dt a::after {
  display: block;
}

#gnb dt a::after {
  content: "";
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: red;
}

#gnb dt a {
  position: relative;
  display: flex;
  height: 100px;
  /* background: lightblue; */
  align-items: center;
  justify-content: center;
}

.slide {
  overflow: hidden;
  margin-bottom: 20px;
}

.slide ul {
  display: flex;
}

.slide ul img {
  display: block;
}

main {
  display: flex;
  justify-content: space-between;
  height: 200px;
  /* background: papayawhip; */
}

main section {
  width: 30%;
}

section .tit {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
}

section .tit ul li a {
  font-size: 14px;
}

/* 공지사항 */
.list-bbs li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list-bbs li::before {
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  background: #000;
}

.list-bbs a {
  display: block;
  overflow: hidden;
  /* background: blue; */
  width: 95%;
  padding: 5px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
  /* color: red; */
}

.bnr {
  width: 100%;
}

.list-goto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  row-gap: 22px;
}

.list-goto a {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
  /* width: calc(100% / 2 - 22px); */
  width: 170px;
  height: 70px;
  background: lavender;
  border-radius: 10px;
}

footer {
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

footer .logo {
  font-size: 20px;
}

footer address {
  font-style: normal;
}

.sns a {
  display: inline-block;
  padding: 20px;
}

#modal {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}

#modal .modal-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 20px;
  width: 500px;
  height: 500px;
  padding: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

#modal .tit {
  text-align: center;
}

#modal .btn-close {
  display: block;
  margin: auto auto 0 auto;
  padding: 5px 10px 5px 10px;
  background: #000000;
  border: 1px solid #999999;
  border-radius: 5px;
  color: #fff;
}

#modal .btn-close:hover {
  background: #4b4b4b;
  border: 1px solid #474747;
  cursor: pointer;
}
